.faq-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.faq-navbar-interactive {
  width: 100%;
  height: 99px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-end;
}
.faq-navlink {
  top: 40px;
  left: 84px;
  position: absolute;
  text-decoration: none;
}
.faq-navlink1 {
  top: 41px;
  left: 190px;
  position: absolute;
  font-family: "Times New Roman";
  text-decoration: none;
}
.faq-navlink2 {
  top: 42px;
  left: 296px;
  position: absolute;
  font-family: "Times New Roman";
  text-decoration: none;
}
.faq-navlink3 {
  display: contents;
}
.faq-logo {
  top: 26px;
  left: 0px;
  right: 0px;
  width: 200px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.faq-register {
  color: #ffffff;
  font-family: "Times New Roman";
  text-decoration: none;
  background-color: #3e48ff;
}
.faq-menu {
  display: none;
}
.faq-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.faq-container1 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
@media(max-width: 1600px) {
  .faq-navbar-interactive {
    position: static;
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: 0px;
    justify-content: center;
  }
  .faq-navlink {
    margin: var(--dl-space-space-unit);
    position: static;
  }
  .faq-navlink1 {
    margin: var(--dl-space-space-unit);
    position: static;
    font-family: Times New Roman;
    text-decoration: none;
  }
  .faq-navlink2 {
    margin: var(--dl-space-space-unit);
    position: static;
  }
  .faq-logo {
    position: static;
  }
  .faq-register {
    color: rgb(255, 255, 255);
    align-self: center;
    font-family: Times New Roman;
    margin-left: 125px;
    text-decoration: none;
    background-color: rgb(62, 72, 255);
  }
  .faq-menu {
    display: flex;
  }
  .faq-container1 {
    width: 100%;
    height: auto;
    margin-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-sixunits);
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 1200px) {
  .faq-register {
    margin-left: 150px;
  }
  .faq-container1 {
    width: 100%;
    height: auto;
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: 76px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .faq-text {
    font-size: 45px;
  }
  .faq-text001 {
    font-size: 30px;
  }
  .faq-text004 {
    font-size: 22px;
  }
  .faq-text009 {
    font-size: 30px;
  }
  .faq-text010 {
    font-size: 22px;
  }
  .faq-text024 {
    font-size: 30px;
  }
  .faq-text025 {
    font-size: 22px;
  }
  .faq-text039 {
    font-size: 30px;
  }
  .faq-text040 {
    font-size: 30px;
  }
  .faq-text043 {
    font-size: 22px;
  }
  .faq-text054 {
    font-size: 30px;
  }
  .faq-text055 {
    font-size: 22px;
  }
  .faq-text063 {
    font-size: 30px;
  }
  .faq-text064 {
    font-size: 22px;
  }
  .faq-text075 {
    font-size: 30px;
  }
  .faq-text076 {
    font-size: 22px;
  }
  .faq-text084 {
    font-size: 30px;
  }
  .faq-text085 {
    font-size: 22px;
  }
  .faq-text097 {
    font-size: 30px;
  }
  .faq-text098 {
    font-size: 22px;
  }
  .faq-text106 {
    font-size: 30px;
  }
  .faq-text107 {
    font-size: 22px;
  }
}
@media(max-width: 991px) {
  .faq-container1 {
    width: 100%;
    height: auto;
  }
}
@media(max-width: 767px) {
  .faq-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .faq-menu {
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .faq-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .faq-mobile-menu {
    padding: 16px;
  }
}
